*{
    padding: 0px;
    margin: 0px;
}

body{
    margin: 30px;
}
.container{
    background-color: pink;
    color:black;
    margin: 30px;
    padding: 30px;
    line-height: 35px;
    font-size: larger;
}
.container1{
    color:brown;
    margin-top: 30px;
    font-size: larger;
    background-color: lavender;
}

.main_container{
    display: flex;
    margin-top: 15px;
    gap: 10px;
    background-color: blue;
    font-size: larger;
}
.sub_container1{
    padding: 15px;
    background-color: bisque;
    border-radius: 10px;
    font-size: larger;
    
}
.sub_container1 h2{
    color: black;
    margin-bottom: 10px;

}

.end-part{
    background-color:lightcoral;
    color:black;
    line-height: 35px;
    margin-top: 10px;
    padding: 20px;

}